@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 18, 18, 19;
  }
}

body {
  background: rgb(var(--background-rgb));
}